transition-management/la-01-workflow/la-01-workflow-code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {},
                "else": {
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Append_to_string_variable": {
                                    "inputs": {
                                        "name": "List of users",
                                        "value": "@{body('Parse_JSON_-_Parse_single_user')?['id']},"
                                    },
                                    "runAfter": {
                                        "Parse_JSON_-_Parse_single_user": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "AppendToStringVariable"
                                },
                                "Condition_2": {
                                    "actions": {},
                                    "else": {
                                        "actions": {
                                            "For_each_1": {
                                                "actions": {
                                                    "HTTP_-_Remove_previous_FIDO2": {
                                                        "inputs": {
                                                            "authentication": {
                                                                "audience": "https://graph.microsoft.com",
                                                                "type": "ManagedServiceIdentity"
                                                            },
                                                            "method": "DELETE",
                                                            "uri": "https://graph.microsoft.com/v1.0/users/@{body('Parse_JSON_-_Parse_single_user')?['userPrincipalName']}/authentication/fido2Methods/@{body('Parse_JSON_1')?['id']}"
                                                        },
                                                        "runAfter": {
                                                            "Parse_JSON_1": [
                                                                "SUCCEEDED"
                                                            ]
                                                        },
                                                        "runtimeConfiguration": {
                                                            "contentTransfer": {
                                                                "transferMode": "Chunked"
                                                            }
                                                        },
                                                        "type": "Http"
                                                    },
                                                    "Parse_JSON_1": {
                                                        "inputs": {
                                                            "content": "@items('For_each_1')",
                                                            "schema": {
                                                                "properties": {
                                                                    "aaGuid": {
                                                                        "type": "string"
                                                                    },
                                                                    "attestationCertificates": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "attestationLevel": {
                                                                        "type": "string"
                                                                    },
                                                                    "creationDateTime": {
                                                                        "type": "string"
                                                                    },
                                                                    "displayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "model": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "ParseJson"
                                                    }
                                                },
                                                "foreach": "@body('Parse_JSON_-_Parse_FIDO2_Methods')?['value']",
                                                "type": "Foreach"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@length(body('Parse_JSON_-_Parse_FIDO2_Methods')?['value'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Parse_JSON_-_Parse_FIDO2_Methods": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_-_Get_previous_FIDO2_method": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/@{body('Parse_JSON_-_Parse_single_user')?['userPrincipalName']}/authentication/fido2Methods"
                                    },
                                    "runAfter": {
                                        "Append_to_string_variable": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "Http"
                                },
                                "HTTP_-_Move_user_to_Staging_group": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "members@odata.bind": [
                                                "https://graph.microsoft.com/v1.0/directoryObjects/@{body('Parse_JSON_-_Parse_single_user')?['id']}"
                                            ]
                                        },
                                        "method": "PATCH",
                                        "uri": "https://graph.microsoft.com/v1.0/groups/67932143-1fa6-4d7a-bb96-0f7ed1fed364"
                                    },
                                    "runAfter": {
                                        "Condition_2": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "Http"
                                },
                                "HTTP_-_Remove_user_from_Uncommitted_group": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "DELETE",
                                        "uri": "https://graph.microsoft.com/v1.0/groups/d5ec0ace-9882-407e-a72a-e00e052313b7/members/@{body('Parse_JSON_-_Parse_single_user')?['id']}/$ref"
                                    },
                                    "runAfter": {
                                        "HTTP_-_Move_user_to_Staging_group": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "Http"
                                },
                                "Parse_JSON_-_Parse_FIDO2_Methods": {
                                    "inputs": {
                                        "content": "@body('HTTP_-_Get_previous_FIDO2_method')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "aaGuid": {
                                                                "type": "string"
                                                            },
                                                            "attestationCertificates": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "attestationLevel": {
                                                                "type": "string"
                                                            },
                                                            "creationDateTime": {
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "model": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "displayName",
                                                            "creationDateTime",
                                                            "aaGuid",
                                                            "model",
                                                            "attestationCertificates",
                                                            "attestationLevel"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_-_Get_previous_FIDO2_method": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "ParseJson"
                                },
                                "Parse_JSON_-_Parse_single_user": {
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.type": {
                                                    "type": "string"
                                                },
                                                "businessPhones": {
                                                    "type": "array"
                                                },
                                                "displayName": {},
                                                "givenName": {},
                                                "id": {
                                                    "type": "string"
                                                },
                                                "jobTitle": {},
                                                "mail": {},
                                                "mobilePhone": {},
                                                "officeLocation": {},
                                                "preferredLanguage": {},
                                                "surname": {},
                                                "userPrincipalName": {}
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "ParseJson"
                                }
                            },
                            "foreach": "@body('Parse_JSON_-_Parse_list_of_users_2')",
                            "runAfter": {
                                "Parse_JSON_-_Parse_list_of_users_2": [
                                    "SUCCEEDED"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_JSON_-_Parse_list_of_users_2": {
                            "inputs": {
                                "content": "@body('Parse_JSON_-_Parse_list_of_users_')?['value']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "@@odata.type": {
                                                "type": "string"
                                            },
                                            "businessPhones": {
                                                "type": "array"
                                            },
                                            "displayName": {},
                                            "givenName": {},
                                            "id": {
                                                "type": "string"
                                            },
                                            "jobTitle": {},
                                            "mail": {},
                                            "mobilePhone": {},
                                            "officeLocation": {},
                                            "preferredLanguage": {},
                                            "surname": {},
                                            "userPrincipalName": {}
                                        },
                                        "required": [
                                            "@@odata.type",
                                            "id",
                                            "businessPhones",
                                            "displayName",
                                            "givenName",
                                            "jobTitle",
                                            "mail",
                                            "mobilePhone",
                                            "officeLocation",
                                            "preferredLanguage",
                                            "surname",
                                            "userPrincipalName"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "type": "ParseJson"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(body('Parse_JSON_-_Parse_list_of_users_')?['value'])",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON_-_Parse_list_of_users_": [
                        "SUCCEEDED"
                    ]
                },
                "type": "If"
            },
            "Condition_1": {
                "actions": {
                    "HTTP_-_notify_staging": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "message": {
                                    "body": {
                                        "content": "The following users have been moved to the staging group. A TAP will follow for each one of them. List of users: @{variables('List of users')}",
                                        "contentType": "Text"
                                    },
                                    "ccRecipients": [],
                                    "subject": "Passwordless transition - Batch of users moved to staging group",
                                    "toRecipients": [
                                        {
                                            "emailAddress": {
                                                "address": "pt-servicedesk@MngEnvMCAP684333.onmicrosoft.com"
                                            }
                                        }
                                    ]
                                },
                                "saveToSentItems": "false"
                            },
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/v1.0/users/passwordless-transition-notifications@MngEnvMCAP684333.onmicrosoft.com/sendMail"
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    }
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@length(variables('List of users'))",
                                    0
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Condition": [
                        "SUCCEEDED"
                    ]
                },
                "type": "If"
            },
            "HTTP_-_Get_Members_from_Uncommitted_Group": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/groups/d5ec0ace-9882-407e-a72a-e00e052313b7/members"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "List of users",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Parse_JSON_-_Parse_list_of_users_": {
                "inputs": {
                    "content": "@body('HTTP_-_Get_Members_from_Uncommitted_Group')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "businessPhones": {
                                            "type": "array"
                                        },
                                        "displayName": {},
                                        "givenName": {},
                                        "id": {
                                            "type": "string"
                                        },
                                        "jobTitle": {},
                                        "mail": {},
                                        "mobilePhone": {},
                                        "officeLocation": {},
                                        "preferredLanguage": {},
                                        "surname": {},
                                        "userPrincipalName": {}
                                    },
                                    "required": [
                                        "@@odata.type",
                                        "id",
                                        "businessPhones",
                                        "displayName",
                                        "givenName",
                                        "jobTitle",
                                        "mail",
                                        "mobilePhone",
                                        "officeLocation",
                                        "preferredLanguage",
                                        "surname",
                                        "userPrincipalName"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Get_Members_from_Uncommitted_Group": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 2
                },
                "type": "Recurrence"
            }
        }
    },
    "kind": "Stateful"
}